* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, a {
    text-decoration: none;
    list-style: none;
}

.main-header .header-container {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    margin: -10px;

}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    padding-right: 5px;
}
.header-title {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-list {
    display: flex;
    color: #E5E7EB;
    gap: 3rem;
}

a {
    color: #E5E7EB;
    font-size: 18px;
}

a:hover {
    color: rgb(98, 148, 239);
    transition: all .2s ease;
}
.section-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1F2937;
    margin: -10px;
    gap: 3rem;
    padding: 40px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 5px;
    min-width: 230px;
    color: white;
	animation: glow 3s ease-in-out infinite alternate;
    
}
@keyframes glow {
    from{
      text-shadow: 0 0 3px rgb(25, 102, 217), 0 0 6px rgb(25, 102, 217), 0 0 9px rgb(25, 102, 217), 0 0 12px rgb(25, 102, 217),0 0 15px rgb(25, 102, 217);
    }
    to {
      text-shadow: 0 0 5px rgb(25, 102, 217), 0 0 10px rgb(25, 102, 217);
    }
  
  }

.resize {
    width:325px;
    height:250px;
    border-radius: 10px;
}

.resize:hover {
    transform: scale(1.15);
    transition: all .5s ease;
}

.top-side {
    font-size: 24px;
    font-weight: extra-bold;
    color: #1F2937;

}
.left-side {
    display: flex;
    margin: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1F2937;
    flex-grow: 1;
    max-width: 50%;
}

.right-side {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5rem;
    margin: 0;
    padding: 0;
    flex: 1;
    flex-shrink: 1;
    max-width: 50%;
    background-color: #1F2937;
}

.image-1, .image-2 {
    background-color: #1F2937;
    padding: 10px;
    min-width: 200px;
    flex-grow: 1;
    flex-basis: 1;
}


.section-2 {
    display: flex;
    flex-direction: column;
    background-color:lightgray;
    margin: -10px;
    padding-bottom: 20px;
    padding: 50px;
    background-image: url(images/bg.jpeg);
}

.top-side {
    display: flex;
    align-self: center;
}

.bottom-side {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 3rem;
}

.quote-section {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    margin: -10px;
    padding: 50px;
    
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.section-3-modal {
    display: flex;
    background-color: white;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: -10px;
    background-color: #1F2937;
}

.modal-box {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}
.box {
    flex-direction: column;
    border-width: 5px;
    border-color: blue;
    border-radius: 15px;
    max-width: 175px;
    border-radius: 10px;
}

.img-text img:hover {
    transform: scale(1.3);
    transition: all .3s ease;
}


.img-text {
    display: flex;
    border-width: 20px;
    max-width: 175px;
    flex-direction: column;
    border-color: red;
    color: #1F2937;
    font-weight: bolder;
}



.left-side-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.right-side-2 {
    display: flex;
    min-width: 200px;
    justify-content: center;
}
.See-More-Button {
    display: flex;
    border-radius: 7px;
    justify-content: center;
    width: 120px;
    align-items: center;
    align-content: center;
    background-color:#1F2937;
    color: white;
    margin: 10px;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 13px;
}


.Sign-Up-Button {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background-color: #1F2937;
    min-width: 100px;
    border-color: white;
    color: white;
    padding: 5px;
}

.footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: -10px;
    font-weight: bold;
}


