* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul, a {
    text-decoration: none;
    list-style: none;
}

.main-header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #adcbe3;
    margin: -10px;

}
.nav-list {
    display: flex;
    gap: 3rem;
}

.section-1 {
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    margin: -10px;
    padding: 50px;
}



.left-side {
    
    margin: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
    flex-grow: 1;
    min-width: 50%;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    flex: 1;
    flex-shrink: 1;
    max-width: 200px;
    background-color: yellow;
    min-width: 50%;
}

.section-2 {
    display: flex;
    flex-direction: column;
    background-color:lightgray;
    margin: -10px;
    padding-bottom: 20px;
}

.top-side {
    display: flex;
    align-self: center;
}

.bottom-side {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 3rem;
}

.quote-section {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    margin: -10px;
    padding: 50px;
    
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.section-3-modal {
    display: flex;
    background-color: white;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.modal-box {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
}
.box {
    flex-direction: column;
    border-width: 5px;
    border-color: blue;
    border-radius: 15px;
    max-width: 200px;
    border-radius: 10px;
}

.left-side-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.right-side-2 {
    display: flex;
    min-width: 200px;
    justify-content: center;
}
.See-More-Button {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    max-width: 100px;
    background-color:aliceblue;
    
}


.See-More-Button:hover {
    background-color: lightblue;
}